<h3>Enter a url that you would like shortened!</h3>

 Original URL: (<%= link_to 'See all URLs', urls_path %>)
 <%= form_tag urls_path do %>
  <%= search_field_tag :term %>
  <a class="waves-effect waves-light btn"><%= submit_tag "Create url" %></a>
<% end %>

<%= params[:term] %>
